<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card :color="$vuetify.theme.dark ? '#595757' : 'white'">
          <v-toolbar
            :color="$vuetify.theme.dark ? 'secondary' : 'success'"
            dark
            flat
          >
          <v-spacer></v-spacer>
            <v-toolbar-title class="text-wrap">{{$t('Auth.email-confirmation-required')}}</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text class="text-center">
            {{$t('Auth.please-confirm-email')}}
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn @click="buttonHandler()" v-show="!disableResend">{{$t('Auth.resend-email')}}</v-btn> 
              <NoticeChip v-if="emailResendRequested" :text="$t('Auth.please-check-your-email')"/>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import {  mapActions } from "vuex";
import NoticeChip from "@shared/components/partials/NoticeChip.vue";

export default {
  name: "PleaseConfirm",
  data() {
    return {
      disableResend: false,
      emailResendRequested: false,
    };
  },
  components: {
    NoticeChip,
  },
  mounted() {
  },
  methods: {
    ...mapActions("UserStore", ["resendconfirmation"]),
    buttonHandler() {
      this.emailResendRequested = true;
      this.resendconfirmation();
      this.disableResend = true;
      setTimeout(()=> {
        this.disableResend = false;
      }, 30000);
    }
  }
};
</script>
