<template>
  <div id="FAQS">
    <v-row :class="isLoggedIn ? 'loggedinpad' : 'loggedoutpad'">
      <v-col cols="12" lg="6" md="8">
        <h1>{{ $t("General.FAQS") }}</h1>
      </v-col>
    </v-row>

    <v-row v-for="(faq, index) in $t('FAQS.questions')" :key="index">
      <v-col>
        <h3 v-html="$t(faq.title)"></h3>
        <p v-html="$t(faq.answer)"></p>
      </v-col>
    </v-row>
  </div>
</template>
