<template>
  <v-container id="Home">
    <v-row cols="8">
    <v-col>
            <h3>Posts</h3>
            <PostList mode="byid" />
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import PostList from "./components/PostList";


export default {
  name: "Home",
  components: {
    PostList,
  },
};
</script>
<style scoped>
#Home {
}
</style>
