<template>
  <div>
    <!-- <Edit /> -->
    <v-row>
      <v-col>
        <CreatePostDrawer :disableSubwikiSelect="true"/>
        <div align="right" class="">
          <OpenPostDrawerButton class="hidden-sm-and-down"/>
        </div>
        <v-tabs fixed-tabs v-model="activeTab">
          <v-tab v-for="tab in tabs" v-bind:key="'hometab-' + tab.name">{{
              $t(tab.label)
            }}
          </v-tab>
          <v-tabs-items v-model="activeTab" touchless>
            <v-tab-item
                v-for="(tab, i) in tabs"
                v-bind:key="'hometabitem-' + tab.name"
            >
              <template v-if="tab.name === 'feed'">
                <v-card color="yellow lighten-4" class="my-4" v-if="GET_NEW_POSTS.length > 0">
                  <v-card-text>{{ $t('there-are-new-posts') }}</v-card-text>
                  <v-card-actions>
                    <v-btn @click="LOAD_NEW_POSTS_INTO_FEED()">
                      {{ $t('show-me') }}
                    </v-btn>

                  </v-card-actions>
                </v-card>
              </template>

              <PostList subwikiSlug="" :mode="tab.name" v-if="activeTab === i"/>
            </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-col>
    </v-row>
  </div>
</template>
<script>
// import Edit from "./components/Edit";
import PostList from "./components/PostList";
import OpenPostDrawerButton from "./components/partials/OpenPostDrawerButton";

import CreatePostDrawer from "./components/CreatePostDrawer";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "Home",
  data: function () {
    return {
      activeTab: 0,
      showPostCreate: false,
      tabs: [
        {
          label: "General.for-you",
          name: "everything",
        },
        { label: "General.your-feed", name: "feed" },
      ],
      PostListMode: "Your Feed",
    };
  },
  components: {
    // Edit,
    PostList,
    OpenPostDrawerButton,
    CreatePostDrawer,
  },
  async mounted() {
    await this.LOAD_PREFERENCES_CACHE();
    let i;
    for (i in this.tabs) {
      if (this.tabs?.[i]?.name === this.getPrefDefaultHomepageTab) {
        this.activeTab = parseInt(i);
        break;
      }
    }
    if (!this.userProfile) {
      await this.loadUser();
    }
    this.UPDATE_NEW_POST_PARENT({
      parent: {
        slug: "maintrunk",
        sk: "maintrunk#maintrunk"
      },
      mode: "maintrunk",
    });
  },
  watch: {
    activeTab(value) {
      if (
          this.tabs?.[value]?.["name"] &&
          this.getPrefDefaultHomepageTab !== this.tabs?.[value]?.["name"]
      ) {
        this.SAVE_PREFERENCE({
          endpoint: "defaulthometab",
          key: "defaultHomepageTab",
          value: this.tabs?.[value]?.["name"],
        });
      }
    },
  },
  computed: {
    ...mapGetters("InboxStore", ["GET_NEW_POSTS"]),
    ...mapGetters("UserStore", ["isLoggedIn", "authStatus", "userProfile"]),
    ...mapGetters("PreferenceStore", [
      "getPrefDefaultHomepageTab",
      "IS_DARK_MODE_STORE",
    ]),
  },
  methods: {
    ...mapActions("InboxStore", ["LOAD_NEW_POSTS_INTO_FEED"]),
    ...mapActions("UserStore", ["fetchAuthenticatedUser"]),
    ...mapActions("PostStore", [
      "UPDATE_NEW_POST_PARENT"
    ]),
    ...mapActions("PreferenceStore", [
      "SAVE_PREFERENCE",
      "LOAD_PREFERENCES_CACHE",
    ]),
    loadUser: async function () {
      await this.fetchAuthenticatedUser();
    },
  },
};
</script>
<style scoped>
#Home {
}
</style>
