<template>
  <div>
    
              <ChangeList />

  </div>
</template>
<script>
import ChangeList from "./components/ChangeList";


export default {
  name: "Home",
  data: function () {
    return {
      
    };
  },
  components: {
    ChangeList,
    
  },
  mounted() {
    
  },
  computed: {
    
  },
  methods: {
    
  },
};
</script>
