<template>
  <div id="user-blocks-panel">
    <v-row>
      <v-col>
        <h1>{{ $t("Block.title-manage-blocks") }}</h1>
      </v-col>
    </v-row>
    <v-row>
      <v-col v-if="loading">
        <v-progress-linear indeterminate color="primary"></v-progress-linear>
      </v-col>
      <v-col v-if="loading == false && GET_BLOCKED_USERS.length == 0">
        <p>{{ $t("Block.no-blocked-users") }}</p>
      </v-col>
    </v-row>
    
    <router-link :to="{name: 'Post Restrictions'}">
      Find out more
    </router-link>

    <v-list
      two-line
    >

      <v-list-item
      v-for="(user, u) in GET_BLOCKED_USERS"
      v-bind:key="u" 
      >
        <v-list-item-avatar>
          <UserBtn
                :user="user.data.userProfile"
                displayMode="pic"
                class="mr-2"
              />
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title><UserBtn
                :user="user.data.userProfile"
                displayMode="name"
                class="mr-2"
              /></v-list-item-title>

          <v-list-item-subtitle v-text="'Reason: '+user.data.reason"></v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-action>
          <BlockUserBtn :user="user.data.userProfile" />
        </v-list-item-action>
      </v-list-item>

      
    </v-list>

  
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

import UserBtn from "./components/partials/UserBtn.vue";
import BlockUserBtn from "./components/partials/BlockUserBtn.vue";
export default {
  data() {
    return {
      loading: false,
    };
  },
  components: { UserBtn, BlockUserBtn },
  async mounted() {
    this.loading = true;
    await this.FETCH_BLOCKED_USERS();
    this.loading = false;
  },
  computed: {
    ...mapGetters("BlockUser", ["GET_BLOCKED_USERS", "GET_SHOW_DIALOG"]),
  },
  methods: {
    ...mapActions("BlockUser", ["FETCH_BLOCKED_USERS", "REMOVE_BLOCKED_USER"]),
  },
};
</script>
