<template>
  <div>
    
    <template v-if="ready">
      <ProfileHeader :userSlug="userSlug" />
      <BlockedContent v-if="getUserProfile.blocked" by="them" />
      <template v-else>
        <template v-if="viewMode != 'follow'">
          <v-tabs fixed-tabs v-model="PROFILE_POST_TAB_ROUTE">
            <v-tab
              v-for="tab in tabs"
              :key="tab.routeslug"
              :value="tab.routeslug"
              :to="{
                name: tab.routename,
                params: tab.params,
              }"
            >
              {{ tab.title }}
            </v-tab>
          </v-tabs>

          <TabPosts v-if="viewMode == 'posts'" />
          <TabTrust v-else-if="viewMode == 'trust'" />
        </template>
        <TabFollowers v-else-if="viewMode == 'follow'" />
      </template>
    </template>
    <v-progress-linear
      v-else
      indeterminate
      color="green darken-2"
    ></v-progress-linear>
  </div>
</template>
<script>
import Vue from "vue";
import i18n from "@/plugins/i18n";
import { mapGetters, mapActions } from "vuex";
import ProfileHeader from "./components/userprofile/ProfileHeader.vue";
import TabFollowers from "./components/userprofile/tabs/followers.vue";
import TabPosts from "./components/userprofile/tabs/posts.vue";
import TabTrust from "./components/userprofile/tabs/trust.vue";
import BlockedContent from "./components/partials/BlockedContent.vue";

export default {
  name: "UserProfile",
  components: {
    ProfileHeader,
    TabFollowers,
    TabPosts,
    TabTrust,
    BlockedContent,
  },
  data: function () {
    return {
      tabs: [],
      pageTitle: "User profile loading...",
      robots: 'all',
      ready: false,
      userSlug: this.$route.params.userSlug,
      viewMode: this.$route.meta.viewMode
        ? this.$route.meta.viewMode
        : "UNKNOWN",
    };
  },
  metaInfo () {
    return {
    title: this.pageTitle,
    meta: [
          { vmid: 'robots', name: 'robots', content: this.robots }
        ]
    }
  },
  watch: {
    "$route.params.userSlug": {
      handler: function (newUserSlug) {
        if (newUserSlug && newUserSlug != this.userSlug) {
          this.ready = false;
          Vue.nextTick(() => {
            this.userSlug = newUserSlug;
            this.init();
          });
        }
      },
      deep: true,
      immediate: true,
    },

    "$route.params.tabSelected": {
      handler: function (newTabSelected) {
        if (newTabSelected && newTabSelected != this.GET_USERPROFILE_POSTTAB) {
          Vue.nextTick(() => {
            this.UPDATE_POSTLIST_USERPROFILE_POSTTAB(newTabSelected);
          });
        }
      },
      deep: true,
      immediate: true,
    },
    "$route.meta.viewMode": {
      handler: function (newViewMode) {
        if (newViewMode && newViewMode != this.viewMode) {
          Vue.nextTick(() => {
            this.viewMode = newViewMode;
          });
        }
      },
      deep: true,
      immediate: true,
    },
  },
  async mounted() {
    this.UPDATE_POSTLIST_USERPROFILE_POSTTABROUTE(
      `/${this.userLanguage}/user/${this.userSlug}/posts/posts`
    );

    this.init();
  },

  computed: {
    ...mapGetters("UserProfileStore", [
      "GET_USER_PROFILE",
      "GET_USER_PROFILE_DEBUG",
      "GET_PROFILES",
      "GET_HAS_PROFILE_LOADED",
      "GET_IS_EDITING_MY_PROFILE",
    ]),
    ...mapGetters("UserStore", ["userProfile", "userLanguage"]),

    getUserProfile() {
      return this.GET_USER_PROFILE(this.userSlug);
    },
    ...mapGetters("PostStore", [
      "GET_USERPROFILE_POSTTABROUTE",
      "GET_USERPROFILE_POSTTAB",
    ]),

    PROFILE_POST_TAB_ROUTE: {
      get() {
        return this.GET_USERPROFILE_POSTTABROUTE;
      },
      set(value) {
        this.UPDATE_POSTLIST_USERPROFILE_POSTTABROUTE(value);
      },
    },
  },
  methods: {
    ...mapActions("UserProfileStore", [
      "FETCH_USER_PROFILE",
      "UPDATE_MY_BIOGRAPHY",
      "CHANGE_IS_EDITING_MY_PROFILE",
    ]),
    ...mapActions("PostStore", [
      "UPDATE_NEW_POST_PARENT",
      "UPDATE_POSTLIST_USERPROFILE_POSTTAB",
      "UPDATE_POSTLIST_USERPROFILE_POSTTABROUTE",
    ]),

    editProfile() {
      this.$router.push({
        path: "/" + this.userLanguage + "/editmyprofile",
      });
    },
    async init() {
      this.pageTitle = "User profile loading...";
      this.tabs = [
        {
          title: i18n.t("Userprofile.everything"),
          routeslug: "posts/contributions",
          params: {
            LANG: this.userLanguage,
            userSlug: this.userSlug,
            tabSelected: "contributions",
          },
          routename: "User Profile - Posts - Tab selected",
        },
        {
          title: i18n.t("Userprofile.posts"),
          routeslug: "posts/posts",
          params: {
            LANG: this.userLanguage,
            userSlug: this.userSlug,
            tabSelected: "posts",
          },
          routename: "User Profile - Posts - Tab selected",
        },
        {
          title: i18n.t("Userprofile.my-branch"),
          routeslug: "posts/branch",
          params: {
            LANG: this.userLanguage,
            userSlug: this.userSlug,
            tabSelected: "branch",
          },
          routename: "User Profile - Posts - Tab selected",
        },
        // {
        //   title: i18n.t("General.trust"),
        //    routeslug: 'trust/rated-by',
        //   params: {
        //       LANG: this.userLanguage,
        //       userSlug: this.userSlug,
        //     tabSelected: 'trust',
        //     radioSelected: "rated-by",
        //   },
        //   routename: 'User Profile - Trust - Radio selected'
        // },
      ];
      if (!this.GET_HAS_PROFILE_LOADED.includes(this.userSlug)) {
        await this.FETCH_USER_PROFILE(this.userSlug);
        this.ready = true;
        
      }
      this.pageTitle = 
      this.GET_USER_PROFILE(this.userSlug)?.fname +
      " " +
      this.GET_USER_PROFILE(this.userSlug)?.lname + " | "+this.$route.params.tabSelected+ " | Userprofile ";
      this.robots = (this.GET_USER_PROFILE(this.userSlug)?.trustLevelInfo?.trustLevelInt <= 1) ? 'noindex' : 'all';
      this.UPDATE_NEW_POST_PARENT({
        parent: {
          slug: this.userSlug,
          ...this.GET_USER_PROFILE(this.userSlug),
        },
        mode: "userprofile",
      });
      this.ready = true;
    },
  },
};
</script>
