<template>
  <div :class="'mediaForm state-' + state">
  
    <label v-if="label">{{ label }}</label>
    <div :class="'croppa-outer-container '+($vuetify.theme.dark
            ? 'croppa-outer-container-dark'
            : 'croppa-outer-container-lite')" :style="`height: ${dimHeight}; width: ${dimWidth};`">

      <croppa
        v-if="renderCroppa"
        class="c1"
        auto-sizing
        initial-size="cover"
        v-model="CROPPA_DATA"
        remove-button-color="black"
        :placeholder="$t('Profile.drag-your-image-here')"
        :placeholder-color="$vuetify.theme.dark ? 'white' : '#000'"
        :placeholder-font-size="16"
        @file-choose="handleCroppaFileChoose"
        :initial-image="src"
      ></croppa>
    </div>
    <div
      class="btns"
      v-if="showoptions && ['idle', 'complete'].includes(state)"
    >
      <v-btn @click="uploadCroppedImage(croppaData)"
        ><v-icon>fa-check</v-icon></v-btn
      >
      <v-btn small @click="croppaData.zoomOut()"
        ><v-icon>mdi-magnify-minus</v-icon></v-btn
      >
      <v-btn small @click="croppaData.zoomIn()">
        <v-icon>mdi-magnify-plus</v-icon>
      </v-btn>

      <v-btn small @click="croppaData.rotate()">
        <v-icon>mdi-rotate-right</v-icon>
      </v-btn>
      <v-btn small @click="croppaData.rotate(-1)">
        <v-icon>mdi-rotate-left</v-icon>
      </v-btn>
      <v-btn small @click="croppaData.flipX()">
        <v-icon>mdi-flip-horizontal</v-icon>
      </v-btn>
      <v-btn small @click="croppaData.flipY()"
        ><v-icon>mdi-flip-vertical</v-icon></v-btn
      >
      <v-chip v-if="getStateText()">{{ getStateText() }}</v-chip>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "MediaForm",
  props: {
    height: { type: String, required: false },
    label: { type: String, required: false },
    purpose: { type: String, required: true },
    showoptions: { type: Boolean, required: false },
    src: { type: String, required: false },
    width: { type: String, required: false },
  },
  data: function () {
    return {
      renderCroppa: false,
      dimWidth: 150,
      dimHeight: 150,
    };
  },
  mounted() {
    if (this.width) {
      this.dimWidth = this.width;
    }
    if (this.height) {
      this.dimHeight = this.height;
    }
    this.setState("idle");
  setTimeout(() => {
    
    this.renderCroppa = true;
  }, 1000);
  },
  computed: {
    ...mapGetters("MediaStore", ["GET_S3_SIGNED_URL", "GET_UPLOAD_STATE"]),
    state() {
      return this.GET_UPLOAD_STATE?.[this.purpose]
        ? this.GET_UPLOAD_STATE[this.purpose]
        : "unknown";
    },
    CROPPA_DATA: {
      get() {
        return this.GET_CROPPA_DATA?.[this.purpose]
        ? this.GET_CROPPA_DATA[this.purpose]
        : null;
      },
      set(value) {
        this.SET_CROPPA_DATA({
          purpose: this.purpose,
          croppaData: value,
        });
      },
    },
   
  },

  methods: {
    ...mapActions("MediaStore", ["SET_UPLOAD_STATE", "SET_PICKED_FILE", "SET_CROPPA_DATA"]),
    handleCroppaFileChoose(file) {
      console.log("File chosen");
      console.log(file)
      this.SET_PICKED_FILE({
        file: file.name,
        purpose: this.purpose
      })
    },
    setState(state) {
      this.SET_UPLOAD_STATE({
        purpose: this.purpose,
        state: state,
      });
    },
    getProgressColour() {
      switch (this.state) {
        case "generatingblob":
          return "grey";
        case "settingblob":
          return "yellow";
        case "fetchingurl":
          return "orange";
        case "uploading":
          return "blue";
        default:
          return "red";
      }
    },
    getStateText() {
      switch (this.state) {
        case "generatingblob":
          return "Compressing";
        case "settingblob":
          return "Packaging";
        case "fetchingurl":
          return "Preparing Upload";
        case "uploading":
          return "Uploading";
        default:
          return "";
      }
    },
  },
};
</script>
