<template>
  <v-list nav app dense color="transparent" class="mainmenu">
    <v-list-item-group v-model="group" class="metainfo">
      <template  v-if="!isLoggedIn">
        <v-list-item>
          <v-list-item-avatar rounded="true" size="25px" class="mx-2">
            <v-icon color="wtspink">
              fa-user
            </v-icon>
          </v-list-item-avatar>
          <v-list-item-title class="wtspink--text">
            {{ $t("General.guest") }} <AuthDialog/>
          </v-list-item-title>
        </v-list-item>

      </template>
      <div
        v-if="isLoggedIn && userProfile.slug != ''"
        class="mb-1 hidden-sm-and-down"
      >
        <Notifications />
      </div>

      <template v-if="isLoggedIn">
        <v-list-item
          router-link
          class="mainmenu wtsnavbackground wtspink--text "
          :to="{
            name: 'Home',
            params: { LANG: userLanguage},
          }"
        ><v-list-item-avatar  rounded="true" size="25px" class="mx-2">
            <v-icon color="wtspink">
              fa-home
            </v-icon>
          </v-list-item-avatar>
          
          {{ $t("General.home") }}
        </v-list-item>
        <v-list-group
        v-if="(isUserInGroup('tech-admin') && showAdmin)"
          nav
          :value="false"
          prepend-icon="fa-shield fa-th mx-2 orange--text"
          class="mainmenu wtsnavbackground mb-1"
        >
        <template v-slot:activator>
            <!-- <v-list-item-title class="wtspink--text">Users</v-list-item-title> -->
            <v-list-item class="mainmenu orange--text">
         
            {{ $t("Admin.admin-stuff") }}
            </v-list-item>
          </template>
        <v-list-item
       
          router-link
          class="mainmenu orange--text wtsnavbackground"
          :to="{
            name: 'User Profile',
            params: { LANG: userLanguage, userSlug: userProfile.slug },
          }"
        >
          <v-list-item-avatar  rounded="true" size="25px" class="mx-2">
            <v-icon color="yellow darken-4 ">
              fa-shield
            </v-icon>
          </v-list-item-avatar>
        </v-list-item>
        
        </v-list-group>
        <v-list-item
          router-link
          class="mainmenu wtsnavblue--text wtsnavbackground"
          :to="{
            name: 'User Profile',
            params: { LANG: userLanguage, userSlug: userProfile.slug },
          }"
        >
          <v-list-item-avatar rounded="true" size="25px" class="mx-2">
            <img :src="URL_PROFILE_PIC(userProfile.userID)" alt="John" />
          </v-list-item-avatar>
          {{ $t("Post.my-profile") }}
        </v-list-item>
        <v-list-item
          router-link
          class="mainmenu wtsgreen2--text wtsnavbackground"
          :to="{ name: 'Recent Changes', params: { LANG: userLanguage } }"
        >
          <v-icon class="mx-2" color="wtsgreen2">fa-solid fa-clock-o</v-icon
          >{{ $t("General.recent-changes") }}
        </v-list-item>
        <!-- <v-list-item router-link
            class="mainmenu wtspink--text wtsnavbackground"
            :to="{ name: 'Branches', params: { LANG: userLanguage } }"
            >
            <v-icon class="mx-2" color="wtspink">fa-solid fa-th</v-icon>{{ $t("General.branches") }}
        </v-list-item> -->

        <v-list-group
          nav
          :value="false"
          prepend-icon="fa-solid fa-th mx-2"
          class="mainmenu wtsnavbackground mb-1"
        >
          <template v-slot:activator>
            <!-- <v-list-item-title class="wtspink--text">Users</v-list-item-title> -->
            <v-list-item class="mx-2 mainmenu wtspink--text">
              {{ $t("General.branches") }}
            </v-list-item>
          </template>

          <!-- <template> -->
          <v-list-item
            router-link
            class="mainmenu wtspink--text wtsnavbackground"
            :to="{ name: 'Branches - Radio Selected', params: { LANG: userLanguage, radioSelected: 'alphabetical' } }"
          >
            <v-icon class="mx-2" color="wtspink">fa-solid fa-th</v-icon
            >{{ $t("General.all-branches") }}
          </v-list-item>

          <v-list-item
            router-link
            class="mainmenu wtspink--text wtsnavbackground"
            :to="{ name: 'User Profile - Follow - Radio selected', params: { userSlug: userProfile.slug,
            LANG: userLanguage,
            tabSelected: 'followers',
            radioSelected: 'following-subwikis'} }"
          >
            <v-icon class="mx-2" color="wtspink">fa-solid fa-th</v-icon
            >{{ $t("MyBranches.my-branches") }}
          </v-list-item>

          <v-list-item v-if="userProfile.trustLevelInfo.trustLevelInt >= 3"
            router-link
            class="mainmenu wtspink--text wtsnavbackground"
            :to="{ name: 'Create Branch', params: { LANG: userLanguage } }"
          >
            <v-icon class="mx-2" color="wtspink">fa-solid fa-th</v-icon
            >{{ $t("General.create-a-branch") }}
          </v-list-item>

          <!-- </template> -->
        </v-list-group>

        <v-list-item
          router-link
          class="mainmenu wtsgreen1--text wtsnavbackground"
          :to="{ name: 'My Account', params: { LANG: userLanguage } }"
        >
          <v-icon class="mx-2" color="wtsgreen1">fa-solid fa-gear</v-icon
          >{{ $t("General.settings") }}
        </v-list-item>

        <v-list-item
          class="mainmenu wtsnavblue--text wtsnavbackground"
          a
          :href="paymentsUrl + userLanguage + '/mypayments'"
        >
          <v-icon class="mx-2" color="wtsnavblue">fa-solid fa-money</v-icon>
          {{ $t("General.my-payments") }}
        </v-list-item>
      </template>

      <v-list-item
        class="supplemental"
        router-link
        :to="{ name: 'About', params: { LANG: GET_LOCALE } }"
      >
        <v-icon class="supplementalicon mx-2">fa-solid fa-info-circle</v-icon>
        {{ $t("General.about") }}
      </v-list-item>
      <v-list-item
        class="supplemental"
        router-link
        :to="{ name: 'FAQS', params: { LANG: GET_LOCALE } }"
      >
        <v-icon class="supplementalicon mx-2"
          >fa-solid fa-question-circle</v-icon
        >{{ $t("General.FAQS") }}
      </v-list-item>
      <v-list-item
        class="supplemental"
        router-link
        :to="{ name: 'Contact', params: { LANG: GET_LOCALE } }"
      >
        <v-icon class="supplementalicon mx-2">fa-solid fa-envelope</v-icon>
        {{ $t("General.contact") }}
      </v-list-item>
     
      <v-list-item class="supplemental" v-if="isUserInGroup('tech-admin')">
        <LanguageSelect />
      </v-list-item>
      <div v-if="isLoggedIn" class="my-10">
        <Logout />
      </div>
    </v-list-item-group>
  </v-list>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Logout from "./auth/Logout.vue";
import LanguageSelect from "./SelectLanguage.vue";
import Notifications from "./Notifications.vue";
import AuthDialog from "./auth/AuthDialog.vue";
export default {
  components: {
    Logout,
    LanguageSelect,
    Notifications,
    AuthDialog
},
  data: () => ({
    showAdmin: false,
    paymentsUrl: process.env.VUE_APP_PAYMENTS_URL,
    drawer: false,
    group: null,
  }),
  computed: {
    ...mapGetters("UserStore", [
      "isLoggedIn",
      "userProfile",
      "GET_LOGGED_OUT_PAYMENTS",
      "isUserInGroup",
      "userLanguage",
    ]),
    ...mapGetters("UserProfileStore", ["URL_PROFILE_PIC"]),
    ...mapGetters("InterfaceStore", ["GET_SHOW_POSTCREATE"]),
    ...mapGetters("Languages", ["GET_LOCALE"]),
  },
  methods: {
    ...mapActions("VoteStore", ["FETCH_VOTES"]),
    ...mapActions("SocketStore", ["SOCKET_CONNECT"]),
    ...mapActions("InterfaceStore", ["SET_SHOW_POSTCREATE"]),
  },
};
</script>
<style lang="scss">
.v-list--nav {
  padding: 0;
}
.v-list.mainmenu {
  clear: both;

  .v-list-item {
    &.supplemental {
      font-size: 0.9em;
      min-height: 2em;
      color: #999999;

      a {
        padding: 0;
        color: #999999;
      }
    }
    a {
      text-decoration: none;
      font-weight: bold;
      /* font-family: $font-family-meta; */
    }
  }
}

.v-list-group {
  color: "#f567c5";
  text-decoration: none;
  font-weight: bold;

  a {
    text-decoration: none;
    font-weight: bold;
    color: "#f567c5";
    /* font-family: $font-family-meta; */
  }
}

// .v-list--dense .v-list-item .v-list-item__icon{
// .v-list--dense .v-list-item .v-list-item__prepend-icon
// .v-list-item__icon .v-list-group__header__prepend-icon

.v-list-item--dense .v-list-item__icon,
.v-list--dense .v-list-item .v-list-item__icon {
  height: 24px;
  // margin-top: 8px;
  // margin-bottom: 8px;
  margin-right: 0px;
  // margin-left: 0px;
  color: var(--v-wtspink-base) !important;
}

.supplementalicon {
  color: #999999;
}
</style>
