<template>
  <v-menu offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-btn elevation="0" @click="handleClick()" v-bind="attrs" v-on="on" :class="(GET_UNREAD_COUNT > 0 ? 'pink' : 'grey')+'--text'">
        <v-icon small class="mr-1"> fa-bell-o </v-icon>
        <v-progress-circular
          v-if="!GET_NOTIFICATIONS_FETCHED"
          :size="20"
          color="grey"
          indeterminate
        ></v-progress-circular>
        <template v-else> {{ GET_UNREAD_COUNT }}</template>
      </v-btn>
    </template>
    <v-list v-show="GET_NOTIFICATIONS.length > 0" max-height="300" class="notification-list">
      <v-list-item v-for="(item, index) in GET_NOTIFICATIONS" :key="index"
    :class="
      'metainfo ml-n3 mr-n3  mx-auto py-2 px-4 datein-' +
      item.item.time +
      ' ' +
      ($vuetify.theme.dark ? 'grey darken-4' : 'grey lighten-4 ')+' action-chip'"
  >
          <UserBtn
            :user="item.item.initiator"
            v-if="item.item.initiator.slug != ''"
            displayMode="pic"
          />
          <div class="d-inline-block pl-2">
            <UserBtn
              :user="item.item.initiator"
            v-if="item.item.initiator.slug != ''"
              displayMode="name"
            />&nbsp;
            <router-link
              v-if="item.item.route"
              :to="item.item.route.uri.replace(':lang', GET_LOCALE)"
            >
               {{ $t(`Notifications.action_${item.item.reason}`) }}
            
               <br/><DateOut :datein="item.createdAt" />
              </router-link>
 
          </div>
   
      </v-list-item>
    </v-list>
  </v-menu>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import UserBtn from "./partials/UserBtn.vue";
import DateOut from "./partials/DateOut.vue";

export default {
  components: {
    DateOut,
    UserBtn,
  },
  data: () => ({}),
  computed: {
    ...mapGetters("InboxStore", [
      "GET_NOTIFICATIONS",
      "GET_NOTIFICATIONS_FETCHED",
      "GET_UNREAD_COUNT",
    ]),
  },
  mounted() {
  },
  methods: {
    ...mapActions("InboxStore", ["MARK_UNREAD_AS_READ"]),
    ...mapGetters("Languages", ["GET_LOCALE"]),

    handleClick() {
      setTimeout(() => {
        console.log("Mark as unread");
        this.MARK_UNREAD_AS_READ();
      }, 2000);
    },
  },
};
</script>
<style lang="scss" scoped>
.v-menu__content{
  @media(max-width: 960px) {
    width: 100%;
  }
  .v-list.notification-list {  
    padding: 0 !important;
    .v-list-item {
      border-bottom: 1px solid grey;
      border-color:  var(--v-wtsgrey-darken1 ) !important;

    }
  }
}
</style>