<template>
<!-- The v-select width is at 0px to shrink the menu -->
<!-- 0px appears to mean '0px more than the options/slots' -->
<!-- If you can do this a better way then thank you in advance! -->
    <v-select
      v-model="GET_CURRENT_LANGUAGE"
      :items="GET_LANG_LIST"
      item-text="title"
      item-value="language"
      return-object
      single-line
      :label="CURRENT_LANGUAGE"
      style="width:250px"
      width = 250px
      :hint="$t('General.choose-your-language')"
      persistent-hint
      @input="(item) => triggerupdate(item.language)"
        >
      <template v-slot:item="{item}" >
        <flag :iso="item.flag" v-bind:squared="false" /> {{item.title}}
      </template>
    </v-select>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "LanguageSelect",
    data: () => ({ 
    }),
    mounted(){
      if(localStorage.locale!=null) this.$i18n.locale=localStorage.locale;
    }, 
    computed: {
    ...mapGetters("Languages", ["GET_LANG_LIST", "GET_CURRENT_LANGUAGE"]),
    CURRENT_LANGUAGE: {
      get() {
        return this.GET_CURRENT_LANGUAGE;
      },
      set(value) {
        this.UPDATE_USER_LANGUAGE(value);
      },
    }
  },
    methods: {
        ...mapActions("Languages", ['UPDATE_SESSION_LANG']),
        ...mapActions("UserProfileStore", ["UPDATE_USER_LANGUAGE"]),
        triggerupdate(item){
          this.UPDATE_USER_LANGUAGE(item)
        }
    }
  }

</script>