<template>
  <v-card
  :color="$vuetify.theme.dark ? '#333232' : 'blue lighten-3'"
  >
  <v-progress-linear
        v-if="isSubmitting"
        indeterminate
        color="blue darken-2"
      ></v-progress-linear>
    <v-form v-else
    ref="newSubwiki"
    >
      <v-card-title>{{ $t('General.make-new-branch') }}</v-card-title>
      <v-card-text>
        <v-text-field
          :background-color="$vuetify.theme.dark ? '#595757' : 'blue lighten-5'"
          v-model="NEWSUBWIKI_LABEL"
          :label="$t('General.new-branch-name')"
        />
                <!-- <ContentEditor identifier="SubwikiDesc"/>        -->

        <v-textarea
          :background-color="$vuetify.theme.dark ? '#595757' : 'blue lighten-5'"
          auto-grow
          outlined 
          rows="4"
          row-height="15"
          v-model="NEWSUBWIKI_DESC"
          :label="$t('General.describe-your-new-branch')"
        />
        <!-- Once again I'm setting height to 0px which appears to make the
        v-select box the smallest it is possible to be (see also SelectLanguage)-->
        <v-select
        v-model="NEWSUBWIKI_LANG"
        :items="languages"
        item-text="title"
        item-value="languages"
        return-object
        single-line
        :label="GET_CURRENT_LANGUAGE"
        style="height:0px, align:left"
        >
        </v-select>
        <v-btn big color="secondary" v-on:click.prevent="submitNewSubwiki()"
          >{{ $t('General.create') }}</v-btn
        >
        <p>{{ GET_NEW_SUBWIKI_FEEDBACK }}</p>
      </v-card-text>
    </v-form>
  </v-card>
</template>
<script>
import { mapGetters, mapActions, mapState } from "vuex";

export default {
  name: "PostCreate",
  data: function() {
    return {
      isSubmitting: false
    };
  },
  mounted() {
    console.log("Mounted")
    this.RESET_NEW_SUBWIKI();
  },
  watch: {
      GET_NEW_SUBWIKI_FEEDBACK(newVal){
        // console.log('the value has updated to - ')
        // console.log(newVal)
        if(newVal === "Created!"){
          this.$router.push({
            path: "/" + this.userLanguage + "/wt/" + this.GET_NEW_SUBWIKI.slug ,
          });
        }
        this.isSubmitting = false;
        },
  },
  computed: {
    ...mapState("Languages", ["languages"]),
    ...mapGetters("SubWikiStore", [
      "GET_NEW_SUBWIKI_FEEDBACK",
      "GET_NEW_SUBWIKI_LABEL",
      "GET_NEW_SUBWIKI_SLUG",
      "GET_NEW_SUWIKI_DESC",
      "GET_NEW_SUBWIKI_LANG",
      "GET_NEW_SUBWIKI",
    ]),
    ...mapGetters("SubWikiStore", ["GET_SUBWIKI_LIST", "GET_NEW_SUBWIKI"]),
    ...mapGetters("Languages", ["GET_CURRENT_LANGUAGE"]),
    ...mapGetters("UserStore", ["userLanguage"]),
    NEWSUBWIKI_LABEL: {
      get() {
        return this.GET_NEW_SUBWIKI_LABEL;
      },
      set(value) {
        this.UPDATE_NEW_SUBWIKI_LABEL(value);
      },
    },
    NEWSUBWIKI_DESC: {
      get() {
        return this.GET_NEW_SUBWIKI_DESC;
      },
      set(value) {
        this.UPDATE_NEW_SUBWIKI_DESC(value);
      },
    },
    NEWSUBWIKI_LANG: {
      get() {
        return this.NEW_SUBWIKI_LANG;
      },
      set(value) {
        this.UPDATE_NEW_SUBWIKI_LANG(value.language);
      },
    },
  },
  methods: {
    ...mapActions("SubWikiStore", [
      "CREATE_NEW_SUBWIKI",
      "UPDATE_NEW_SUBWIKI_LABEL",
      "UPDATE_NEW_SUBWIKI_SLUG",
      "UPDATE_NEW_SUBWIKI_DESC",
      "UPDATE_NEW_SUBWIKI_LANG",
      "RESET_NEW_SUBWIKI",
    ]),
    submitNewSubwiki() {
      this.isSubmitting = true;
      this.CREATE_NEW_SUBWIKI();
    }
}}
</script>