<template>
  <div>
    <v-simple-table
      v-if="
        GET_STRIPE_FETCH_OPERATIONS.subscriptions == 'success' &&
        GET_STRIPE_SUBSCRIPTIONS.length > 0
      "
    >
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">{{ $t('Stripe.amount') }}</th>
            <th class="text-left">{{ $t('Stripe.status') }}</th>
            <th class="text-left">{{ $t('Stripe.date') }}</th>
            <th class="text-left"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(subscription, i) in GET_STRIPE_SUBSCRIPTIONS"
            v-bind:key="i"
          >
            <template v-if="!['incomplete'].includes(subscription.status)">
              <td>
                {{
                  displayAmount(
                    subscription.items.data[0].plan.amount,
                    subscription.items.data[0].plan.currency
                  )
                }}
              </td>
              <td>
                {{
                  subscription.items.data[0].plan.active
                    ? "Current"
                    : "Inactive"
                }}

                ({{ subscription.status }})
              </td>
              <td>
                {{ displayDate(subscription.items.data[0].created * 1000) }}
              </td>
              <td>
                <v-btn small
                  ><v-icon
                    color="red"
                    @click="
                      CANCEL_SUBSCRIPTION_DATA(subscription.items.data[0].id)
                    "
                    >mdi-close-octagon</v-icon
                  >
                  {{ $t('Stripe.cancel') }}</v-btn
                >
              </td></template
            >
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <template
      v-else-if="
        GET_STRIPE_FETCH_OPERATIONS.subscriptions == 'success' &&
        GET_STRIPE_SUBSCRIPTIONS.length == 0
      "
      >{{ $t('Stripe.no-subscriptions') }}
    </template>

    <p v-else-if="GET_STRIPE_FETCH_OPERATIONS.subscriptions != 'error'">
      {{ $t('Stripe.fetching-subscriptions') }}
      <v-progress-linear
        indeterminate
        :color="
          'darken-2 ' +
          (GET_STRIPE_FETCH_OPERATIONS.subscriptions == 'fetching'
            ? 'green'
            : 'yellow')
        "
      ></v-progress-linear>
    </p>
    <v-chip color="red lighten-2" v-else
      >{{ $t('Stripe.fetch-subscriptions-error') }}</v-chip
    >
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "StripeCustomerSubscriptionList",
  components: {},
  data() {
    return {};
  },
  mounted() {
    this.FETCH_STRIPE_SUBSCRIPTION_DATA();
  },
  computed: {
    ...mapGetters("StripeStore", [
      "GET_STRIPE_FETCH_OPERATIONS",

      "GET_STRIPE_SUBSCRIPTIONS",
    ]),
  },
  methods: {
    ...mapActions("StripeStore", [
      "FETCH_STRIPE_SUBSCRIPTION_DATA",
      "CANCEL_SUBSCRIPTION_DATA",
    ]),
    displayAmount(amount, currency) {
      return parseInt(amount) / 100 + " " + currency.toUpperCase();
    },
    displayDate(d) {
      return window.dateOut(d);
    },
  },
};
</script>
