<template>
  <div>
    <v-simple-table
      v-if="GET_STRIPE_FETCH_OPERATIONS.paymentIntents == 'success'"
    >
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">{{ $t('Stripe.amount') }}</th>
            <th class="text-left">{{ $t('Stripe.date') }}</th>
            <th class="text-left">{{ $t('Stripe.description') }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(paymentIntent, i) in GET_STRIPE_PAYMENT_INTENTS"
            v-bind:key="i"
          >
            <template
              v-if="
                !['requires_source', 'requires_confirmation'].includes(
                  paymentIntent.status
                )
              "
            >
              <td>
                {{
                  displayAmount(
                    paymentIntent.amount_received,
                    paymentIntent.currency
                  )
                }}
              </td>

              <td>
                {{ displayDate(paymentIntent.created * 1000) }}
              </td>
              <td>
                <template v-if="paymentIntent.description">
                  {{ paymentIntent.description }}
                </template>
                <template v-else> {{ $t('Stripe.payment') }} </template>
              </td>
            </template>
          </tr>
        </tbody>
      </template></v-simple-table
    >
    <p v-else-if="GET_STRIPE_FETCH_OPERATIONS.paymentIntents != 'error'">
      {{ $t('Stripe.fetching-payments') }}
      <v-progress-linear
        indeterminate
        :color="
          'darken-2 ' +
          (GET_STRIPE_FETCH_OPERATIONS.paymentIntents == 'fetching'
            ? 'green'
            : 'yellow')
        "
      ></v-progress-linear>
    </p>
    <v-chip color="red lighten-2" v-else
      >{{ $t('Stripe.fetch-payment-error') }}</v-chip
    >
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "StripeCustomerpaymentIntentList",
  components: {},
  data() {
    return {};
  },
  mounted() {
    this.FETCH_STRIPE_PAYMENT_INTENT_DATA();
  },
  computed: {
    ...mapGetters("StripeStore", [
      "GET_STRIPE_FETCH_OPERATIONS",
      "GET_STRIPE_PAYMENT_INTENTS",
    ]),
  },
  methods: {
    ...mapActions("StripeStore", ["FETCH_STRIPE_PAYMENT_INTENT_DATA"]),
    displayAmount(amount, currency) {
      return parseInt(amount) / 100 + " " + currency.toUpperCase();
    },
    displayDate(d) {
      return window.dateOut(d);
    },
  },
};
</script>
