<template>
  <div>
    <div
      id="stripe-card-element"
      class="payment-form__stripe-card-element pa-5"
    >
      <!--Stripe.js injects the Card Element-->
    </div>
    <v-progress-linear
        v-if="rendering"
        indeterminate
        color="yellow"
      ></v-progress-linear>
    <template v-if="GET_MAKE_A_PAYMENT_VALUES.term == 'once'">
      <div
        v-if="errorMessage"
        class="v-messages error--text pa-3 font-weight-medium"
        role="alert"
      >
        <div class="v-messages__wrapper">
          <div class="v-messages__message">{{ errorMessage }}</div>
        </div>
      </div>
      <div
        v-if="paymentSuccessful"
        class="v-messages success--text pa-3 font-weight-medium"
        role="info"
      >
        <div class="v-messages__wrapper">
          <div class="v-messages__message">{{ $t("Stripe.thank-you") }}</div>
        </div>
      </div>

      <v-btn
        block
        color="success"
        class="my-2"
        :disabled="!formValid || paymentSuccessful"
        :loading="isLoading"
        form="payment-form"
        type="submit"
      >
        {{ $t("Stripe.pay-now") }}
      </v-btn>
    </template>
    <template v-else>
      <template
        v-if="
          GET_STRIPE_FETCH_OPERATIONS.subscriptionCreate == 'success' &&
          GET_STRIPE_NEW_SUBSCRIPTION.subscriptionId
        "
      >
        <v-btn
          id="submit"
          :disabled="!formValid || paymentSuccessful || redirecting"
          block
          :color="$vuetify.theme.dark ? 'secondary' : 'success'"
          form="payment-form"
          type="submit"
          class="my-2"
          >{{ $t("General.subscribe") }}</v-btn
        >
        <v-progress-circular
        v-if="redirecting"
        :size="20"
        :color="blue"
        indeterminate
      ></v-progress-circular>
        <div id="error-message">
          <!-- Display error message to your customers here -->
        </div></template
      >
      <v-progress-linear
        v-if="GET_STRIPE_FETCH_OPERATIONS.subscriptionCreate != 'error'"
        indeterminate
        :color="
          GET_STRIPE_FETCH_OPERATIONS.subscriptionCreate == 'fetching'
            ? 'green'
            : 'yellow' + 'darken-2'
        "
      ></v-progress-linear>
      <template v-else>
        Error:
        {{ $t("Stripe.form-load-error") }}
        <template v-if="GET_STRIPE_ERROR_MESSAGE">
          {{ GET_STRIPE_ERROR_MESSAGE }}
        </template>
      </template>
    </template>
  </div>
</template>

<script>
// Stripe | Online Payments | Accept A Payment | Web | Custom Payment Flow
// https://stripe.com/docs/payments/accept-a-payment?platform=web&ui=elements

import { loadStripe } from "@stripe/stripe-js";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "PaymentForm",
  data() {
    return {
      rendering: true,
      redirecting: false,
      formValid: false,
      errorMessage: null,
      isLoading: false,
      paymentSuccessful: false,
    };
  },
  mounted() {
    this.initStripe();
  },
  computed: {
    ...mapGetters("StripeStore", [
      "GET_PAYMENTRESULT",
      "GET_STRIPE_CUSTOMER",
      "GET_STRIPE_ERROR_MESSAGE",
      "GET_STRIPE_FETCH_OPERATIONS",
      "GET_STRIPE_NEW_SUBSCRIPTION",
      "GET_STRIPE_PRICE_CODE",
      "GET_STRIPE_PRICE_DATA",
    ]),
    ...mapGetters("UserStore", [
      "isLoggedIn",
      "authStatus",
      "userProfile",
      "authHeader",
    ]),
    ...mapGetters("UserContributionsStore", [
      "GET_WHALE_LEVEL",
      "GET_PRICES",
      "GET_CURRENCY",
      "GET_MAKE_A_PAYMENT_VALUES",
      "GET_ANON_CUSTOMER",
      "GET_LOGGED_OUT_PAYMENTS",
      "GET_IS_ANON_PAYMENT"
    ]),
    stripeAmount() {
      return this.GET_MAKE_A_PAYMENT_VALUES.finalAmount * 100;
    },
  },
  watch: {
    "GET_MAKE_A_PAYMENT_VALUES.term": function (newValue, oldValue) {
      if (newValue != oldValue) {
        this.initStripe();
      }
    },
    "GET_MAKE_A_PAYMENT_VALUES.finalAmount": function (newValue, oldValue) {
      if (newValue != oldValue) {
        this.initStripe();
      }
    },
  },
  methods: {
    ...mapActions("StripeStore", [
      "PUSH_PAYMENTRESULT",
      "PUSH_PAYMENTERROR",
      "FETCH_STRIPE_PRICE_DATA",
      "CREATE_SUBSCRIPTION_DATA",
      "FETCH_STRIPE_PAYMENT_INTENT_DATA",
      "FETCH_STRIPE_SUBSCRIPTION_DATA",
    ]),
    ...mapActions("UserContributionsStore", [
      "CREATE_NEW_PAYMENT",
      "CREATE_NEW_SCHEDULE",
      "FETCH_USER_PAYMENTS",
      "CHANGE_PROCESS_STAGE",
    ]),

    async initStripe() {
      const stripe = await loadStripe(process.env.VUE_APP_STRIPE_KEY);

      const style = {
        base: {
          fontFamily: "Poppins, sans-serif",
          fontSmoothing: "antialiased",
          fontSize: "16px",
        },
        invalid: {
          fontFamily: "Poppins, sans-serif",
          color: "#AB3F27",
          iconColor: "#AB3F27",
        },
      };
      const self = this;
      if (this.GET_MAKE_A_PAYMENT_VALUES.term != "once") {
        await this.FETCH_STRIPE_PRICE_DATA();
        if (this.GET_STRIPE_PRICE_DATA.priceId) {
          await this.CREATE_SUBSCRIPTION_DATA();
          if (this.GET_STRIPE_NEW_SUBSCRIPTION.clientSecret) {
            const stripe = await loadStripe(process.env.VUE_APP_STRIPE_KEY);
            const options = {
              clientSecret: this.GET_STRIPE_NEW_SUBSCRIPTION.clientSecret,
              // Fully customizable with appearance API.
              appearance: style,
            };

            // Set up Stripe.js and Elements to use in checkout form, passing the client secret obtained in step 5
            const elements = stripe.elements(options);

            // Create and mount the Payment Element
            const paymentElement = elements.create("payment");
            paymentElement.mount("#stripe-card-element");
            paymentElement.on("change", function (event) {
              self.formValid = !event.empty && event.complete;
              //self.formValid = event.error;
              self.errorMessage = event.error ? event.error.message : "";
            });
            const form = document.getElementById("payment-form");
            this.rendering = false;
            form.addEventListener("submit", async function (event) {
              event.preventDefault();
              self.redirecting = true;

              // We have to do this here because the return does not have the subscription ID
              await self
                .CREATE_NEW_SCHEDULE({
                  provider: "stripe",
                  customer: self.GET_ANON_CUSTOMER,
                  extRef: self.GET_STRIPE_NEW_SUBSCRIPTION.subscriptionId,
                  whaleLevel: self.GET_WHALE_LEVEL
                })
                .then(() => {
                  // Complete payment when the submit button is clicked
                  stripe.confirmPayment({
                    //`Elements` instance that was used to create the Payment Element
                    elements,
                    confirmParams: {
                      return_url:
                        process.env.VUE_APP_STRIPE_SUBSCRIPTION_RETURN_URL,
                    },
                  });
                });
            });
          }
        }
      } else if (this.GET_MAKE_A_PAYMENT_VALUES.term != "month") {

        var purchase = {
          slug: this.userProfile.slug,
          amount: this.stripeAmount,
          currency: this.GET_CURRENCY.code,
          customer: this.GET_STRIPE_CUSTOMER.id,
        };

        this.isLoading = true;
        let urlsuffix = "payments/stripe/";
        let urlheaders;
        if (this.GET_IS_ANON_PAYMENT) {
          urlheaders = {
            "content-type": "application/json",
          };
          urlsuffix += "anonintent";
          purchase.email = this.GET_ANON_CUSTOMER.email;
          purchase.fname = this.GET_ANON_CUSTOMER.fname;
          purchase.lname = this.GET_ANON_CUSTOMER.lname;
        } else {
          urlheaders = this.authHeader.headers;
          urlsuffix += "intent";
        }
        fetch(process.env.VUE_APP_PAYMENTAPIBASEURL + urlsuffix, {
          method: "POST",
          headers: urlheaders,
          body: JSON.stringify(purchase),
        })
          .then(function (result) {
            return result.json();
          })
          .then(function (data) {
            self.isLoading = false;
            self.rendering = false;
            const elements = stripe.elements();

            const card = elements.create("card", { style: style });
            // Stripe injects an iframe into the DOM
            card.mount("#stripe-card-element");
            card.on("change", function (event) {
              self.formValid = !event.empty && event.complete;
              //self.formValid = event.error;
              self.errorMessage = event.error ? event.error.message : "";
            });
            var form = document.getElementById("payment-form");

            form.addEventListener("submit", function (event) {
              event.preventDefault();
              // Complete payment when the submit button is clicked
              self.payWithCardSingle(stripe, card, data.client_secret);
            });
          });
      }
    },

    payWithCardSingle(stripe, card, clientSecret) {
      const self = this;
      this.isLoading = true;
      this.errorMessage = null;
      this.paymentSuccessful = false;
      stripe
        .confirmCardPayment(clientSecret, {
          payment_method: {
            card: card,
          },
        })
        .then(function (result) {
          if (result.error) {
            // Show error to your customer
            self.isLoading = false;
            self.errorMessage = result.error.message;
            self.PUSH_PAYMENTERROR(result.error);
          } else {
            // The payment succeeded!
            self.isLoading = false;
            self.paymentSuccessful = true;
            if (!self.GET_LOGGED_OUT_PAYMENTS) {
              self.FETCH_USER_PAYMENTS();
            }
            self.CHANGE_PROCESS_STAGE("paid");
            self.CREATE_NEW_PAYMENT({
              provider: "stripe",
              customer: self.GET_ANON_CUSTOMER,
              orderRef: result["paymentIntent"]["id"],
            });
            //self.orderComplete(result.paymentIntent.id);
            self.PUSH_PAYMENTERROR(false);
          }

          self.PUSH_PAYMENTRESULT(result);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
#stripe-card-element {
}
</style>
