<template>
  <div>
    <RadioTabs :radioselected="radioSelected" :userSlug="userSlug" :tablist="subTabs" parenttab="followers" tabbaseroute="User Profile - Follow - Radio selected" tabroute="slug"/>
    <v-progress-linear
      v-if="GET_FOLLOW_OVERVIEW_FETCHING"
      indeterminate
      :color="$vuetify.theme.dark ? '#878a01' : 'green darken-2'"
    ></v-progress-linear>
    <template v-else>
      <v-row
        v-if="
          !GET_FOLLOW_OVERVIEW_FETCHING &&
          GET_FOLLOW_OVERVIEW[radioSelected] &&
          GET_FOLLOW_OVERVIEW[radioSelected].length > 0
        "
      >
        <v-col
          cols="6"
          v-for="(follow, t) in GET_FOLLOW_OVERVIEW[radioSelected]"
          v-bind:key="t"
        >
          <v-card
            outlined
            elevation="0"
            v-if="radioSelected != 'following-subwikis'"
          >
            <v-card-text>
              <v-row>
                <v-col cols="2">
                  <UserBtn
                    displayMode="pic"
                    :user="getProfileData(follow)
                      
                    "
                    class="mr-2"
                  />
                </v-col>
                <v-col>
                  <UserBtn
                    displayMode="name"
                    :user="
                      getProfileData(follow)
                    "
                  /><br />
                  <template v-if="radioSelected != 'followed-by-users'">
                    was followed
                  </template>
                  <template v-else> followed </template>
                  <DateOut :datein="follow.createdAt" />
                  
                  <TrustRating
                    :userProfile="
                     getProfileData(follow)
                    "
                  />
                  <FollowBtn
                    :userProfile="
                     getProfileData(follow)
                    "
                  />
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
          <SubwikiCard v-else :item="follow.data.parentData"  />
          
        </v-col>
      </v-row>
    </template>
  </div>
</template>
<script>
import Vue from "vue";
import { mapGetters, mapActions } from "vuex";
import UserBtn from "../../partials/UserBtn.vue";
import DateOut from "../../partials/DateOut.vue";
import FollowBtn from "../../partials/FollowBtn.vue";
import SubwikiCard from "../../partials/SubwikiCard.vue";
import TrustRating from "../../partials/TrustRating.vue";
import RadioTabs from "../../partials/RadioTabs.vue";

export default {
  name: "FollowersTab",
  components: { UserBtn, DateOut, FollowBtn, SubwikiCard, TrustRating, RadioTabs },
  data: function () {
    return {
      subTabs: [
        {
          slug: "following-users",
          label: "Following this user",
          entity: "userprofile",
          followedByUser: false,
        },
        {
          slug: "followed-by-users",
          label: "Followed by this user",
          entity: "userprofile",
          followedByUser: true,
        },
        {
          slug: "following-subwikis",
          label: "Branches",
          entity: "subwiki",
          followedByUser: false,
        },
      ],
      profileDataReady: false,
      userSlug: this.$route.params.userSlug,
      radioSelected: this.$route.params.radioSelected
        ? this.$route.params.radioSelected
        : "following-users",
    };
  },
  watch: {
    "$route.params.radioSelected": {
      handler: function (newRadioSelected) {
        if (newRadioSelected && newRadioSelected != this.radioSelected) {
          Vue.nextTick(() => {
            this.radioSelected = newRadioSelected;
            this.init();

          });
        } 
      },
      deep: true,
      immediate: true,
    },
  },
  mounted() {
    this.init();
  },

  computed: {
    ...mapGetters("FollowStore", [
      "GET_FOLLOW_OVERVIEW",
      "GET_FOLLOW_OVERVIEW_FETCHING",
    ]),
    ...mapGetters("UserProfileStore", [
      "GET_USER_PROFILE",
      "GET_HAS_PROFILE_LOADED",
    ]),
    ...mapGetters("UserStore", ["userLanguage", "isThisTheUser"]),

    allReady() {
      return this.profileDataReady && !this.GET_TRUST_FETCHING;
    },
    profileIsLoggedInUser() {
      return this.isThisTheUser(this.userSlug);
    },
    getUserProfile() {
      return this.GET_USER_PROFILE(this.userSlug);
    },
  },
  methods: {
    ...mapActions("FollowStore", [
      "FETCH_USERS_FOLLOWS",
      "CLEAR_FOLLOW_OVERVIEW",
    ]),
    ...mapActions("UserProfileStore", ["FETCH_USER_PROFILE"]),
    getProfileData(follow) {
      return this.radioSelected == 'followed-by-users'
            ? follow.data.parentData
            : follow.data.createdByUser
    },
    async init() {
      console.log("Init follow page");
      console.log({
        userSlug: this.userSlug,
        tab: this.radioSelected,
      });
      // this.CLEAR_FOLLOW_OVERVIEW(); // TODO
      // this.radioSelected = this.$route.params.radioSelected;
      this.FETCH_USERS_FOLLOWS({
        userSlug: this.userSlug,
        tab: this.radioSelected,
      });

      if (this.profileIsLoggedInUser) {
        this.subTabs[0]['label'] = "People who follow me"
        this.subTabs[1]['label'] = "People I follow"
        
      }
    },
  },
};
</script>
