<template>
  <v-dialog v-model="dialog" scrollable max-width="30em">
    <template v-slot:activator="{ on, attrs }">
      <v-btn small transparent color="wtsgreen1" dark v-bind="attrs" v-on="on"> {{ $t("General.login") }} </v-btn>
    </template>
    <AuthWidget/>
    
  </v-dialog>
</template>
<script>
import AuthWidget from './AuthWidget.vue';
export default {
  components: {
    AuthWidget,
  },
  
  data() {
    return {
      dialog: false,
    };
  },
};
</script>
