<template>
  <div>
    <v-form>
      <v-container fluid>
        <v-text-field
          v-model="email"
          v-bind:label="$t('General.email-address')"
        ></v-text-field>

        <v-btn
          v-if="userIsOnline !== false"
          class="register"
          @click.prevent="startProcess()"
          :color="$vuetify.theme.dark ? 'secondary' : 'teal lighten-2'"
          >{{ $t("Auth.start-password-recovery") }}</v-btn
        ><NoticeChip v-else :text="$t('General.must-be-online-to-continue')" />
        <NoticeChip
          v-if="processStarted"
          :text="$t('Auth.please-check-your-email')"
        />
      </v-container>
    </v-form>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import NoticeChip from "@shared/components/partials/NoticeChip.vue";

export default {
  data() {
    return {
      errors: [],
      email: "",
      processStarted: false,
    };
  },
  components: {
    NoticeChip,
  },
  computed: {
    ...mapGetters("UserStore", [
      "isLoggedIn",
      "authStatus",
      "authErrors",
      "userIsOnline",
    ]),
  },

  methods: {
    ...mapActions("UserStore", ["sendpasswordreset"]),
    startProcess() {
      this.processStarted = true;
      this.sendpasswordreset(this.email);
    },
  },
};
</script>
