<template>
  <div v-show="needToken && $route.name != 'Auth Page'">
    <Logo />
    <p>
      <v-progress-circular
        indeterminate
        color="blue darken-2"
      ></v-progress-circular>
    </p>
  </div>
</template>
<script>
import { mapActions, mapGetters} from "vuex";
import Logo from "@shared/components/partials/Logo";
export default {
  name: "GuestComponent",
  components: {
    Logo,
  },
  async mounted() {
    console.log("GuestComponent mounted");
    await navigator.locks.request("getGuestToken", async () => {
      console.log("GuestComponent mounted lock acquired");
      if (this.needToken) {
        console.log("GuestComponent mounted has no valid guest token");
        await this.getGuestToken();
      } else {
        console.log("GuestComponent mounted has valid guest token");
        console.log(this.userToken)
        console.log(this.accessTimeOut)
        console.log(this.secondsUntilTokenTimeout)
      }
    });
  },
  computed: {
    ...mapGetters("UserStore", ["userToken", "hasValidGuestToken", "accessTimeOut", "secondsUntilTokenTimeout"]),
    needToken() {
      return !this.hasValidGuestToken || this.secondsUntilTokenTimeout < 0;
    }
  },
  methods: {
    ...mapActions("UserStore", [ "getGuestToken"]),
  },
};
</script>
