<template>
  <div class="text-center">
    <v-form @submit.prevent="validateLogin()" v-if="!submitted">
      <v-container fluid>
        <v-text-field
          v-model="email"
          v-bind:label="$t('General.email-address')"
        ></v-text-field>

        <v-text-field
          v-model="password"
          v-bind:label="$t('General.password')"
          :append-icon="showPW ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showPW ? 'text' : 'password'"
          name="input-10-1"
          counter
          @click:append="showPW = !showPW"
        ></v-text-field>
        <div class="displayErrors" v-if="errors.length" style="color: #c21a0e">
          <ul>
            <li v-for="(error, index) in errors" :key="index">
              {{ error }}
            </li>
          </ul>
        </div>
        <template v-if="authErrorsLogin['message']">
          <v-spacer />
          <p><NoticeChip :text="getErrorMessage()" /><br /></p>
        </template>
        <v-btn
          type="submit"
          v-if="userIsOnline !== false"
          :color="$vuetify.theme.dark ? '#88b811' : 'teal lighten-2'"
          >{{ $t("General.login") }}</v-btn
        >

        <NoticeChip v-else :text="$t('General.must-be-online-to-continue')" />
        <p>
          {{ $t("Auth.make-a-new-account") }}<br />
          <router-link
            :to="{ name: 'Contact', params: { LANG: loggedOutLanguage() } }"
            >{{ $t("General.contact") }}</router-link
          ><br />
          <router-link
            :to="{
              name: 'Forgot Password',
              params: { LANG: loggedOutLanguage() },
            }"
            >{{ $t("General.forgot-password") }}</router-link
          >
          <SelectLanguage />
        </p>
      </v-container>
      <Captcha text="General.login" action="login" />
    </v-form>
    <v-progress-circular
      class="ma-8"
      v-else
      :size="70"
      :width="7"
      :color="$vuetify.theme.dark ? '#878a01' : 'green'"
      indeterminate
    ></v-progress-circular>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import NoticeChip from "@shared/components/partials/NoticeChip.vue";
import SelectLanguage from "./SelectLanguage.vue";
import Captcha from "@shared/components/partials/Captcha.vue";

export default {
  data() {
    return {
      errors: [],
      email: "",
      password: "",
      showPW: false,
      submitted: false,
    };
  },
  components: {
    NoticeChip,
    SelectLanguage,
    Captcha,
  },
  watch: {
    authErrorsLogin() {
      this.submitted = false;
    },
    GET_CAPTCHA_TOKEN(token) {
      console.log({
        GET_CAPTCHA_TOKEN: {
          component: "login",
          token: token,
          tab: this.authPageTab,
        },
      });
      if (token && this.authPageTab == 0) {
        this.login({
          email: this.email.toLowerCase(),
          password: this.password,
          captchaToken: this.GET_CAPTCHA_TOKEN,
        });
      }
    },
  },
  computed: {
    ...mapGetters("UserStore", [
      "isLoggedIn",
      "authStatus",
      "authErrorsLogin",
      "authPageTab",
      "userIsOnline",
    ]),
    ...mapGetters("Languages", ["GET_LANG_LIST", "GET_CURRENT_LANGUAGE"]),
    ...mapGetters("CaptchaStore", ["GET_CAPTCHA_STATE", "GET_CAPTCHA_TOKEN"]),

    getError() {
      return this.authErrors["login"];
    },
  },
  methods: {
    ...mapActions("UserStore", ["login"]),
    ...mapActions("CaptchaStore", ["CHECK_CAPTCHA"]),

    validateLogin() {
      if (this.email && this.password) {
        this.submitted = true;
        this.CHECK_CAPTCHA();
      }
    },
    getErrorMessage() {
      if (this.authErrors?.["login"]?.["message"].includes("401")) {
        return this.$t("General.oops-looks-like-youve-entered-the-wrong-login");
      } else if (this.authErrors?.["login"]?.["message"].includes("403")) {
        return this.$t("General.there-is-a-problem-with-your-account");
      } else {
        return this.$t("General.cant-log-in-right-now");
      }
    },
    loggedOutLanguage() {
      return localStorage.locale ? localStorage.locale : "en";
    },
  },
  // },
};
</script>
