<template>
  <div>
    <v-form @submit.prevent="validateRegistration()">
      <v-container fluid>
        <template v-if="!submitted">
          <v-select
            :v-model="NEW_USER_LANG_CODE"
            :items="GET_LANG_TITLES"
            item-text="languages"
            return-object
            single-line
            :placeholder="$t('General.choose-your-language')"
            @input="(item) => SET_USER_LANG_CODE(item)"
          >
          </v-select>
          <v-text-field
            v-model="fname"
            v-bind:label="$t('General.first-name')"
            @blur="maybeFindSlug()"
          ></v-text-field>
          <v-text-field
            v-model="lname"
            v-bind:label="$t('General.last-name')"
            @blur="maybeFindSlug()"
          ></v-text-field>

          <v-text-field
            v-model="slug"
            v-bind:label="$t('General.profile-url')"
            @keyup="makeSlugIsCustom()"
          ></v-text-field>

          <v-chip v-if="slug.length > 3">
            <v-icon :color="newSlugIsUnique ? 'green' : 'red'">
              <template v-if="newSlugIsUnique">mdi-check-circle</template>
              <template v-else>mdi-alert-circle</template>
            </v-icon>
            <template v-if="slug < 3">...</template>
            <template v-else-if="newSlugIsUnique">{{
              $t("General.url-is-available")
            }}</template>
            <template v-else>{{ $t("General.url-is-taken") }}</template>
          </v-chip>
          <v-text-field
            v-model="email"
            v-bind:label="$t('General.email-address')"
          ></v-text-field>

          <v-text-field
            v-model="password"
            :append-icon="showPW ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required, rules.min]"
            :type="showPW ? 'text' : 'password'"
            name="input-10-1"
            v-bind:label="$t('General.password')"
            hint="At least 8 characters"
            counter
            @click:append="showPW = !showPW"
          ></v-text-field>

          <v-text-field
            v-model="password2"
            :append-icon="showPW ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required, rules.min]"
            :type="showPW ? 'text' : 'password'"
            name="input-10-1"
            v-bind:label="$t('General.confirm-password')"
            counter
            @click:append="showPW = !showPW"
          ></v-text-field>

          <div
            class="displayErrors"
            v-if="errors.length"
            style="color: #c21a0e"
          >
            <br />
            <ul>
              <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
              <br />
            </ul>
          </div>
          <v-btn
            v-if="userIsOnline !== false"
            type="submit"
            class="register"
            :color="$vuetify.theme.dark ? 'secondary' : 'teal lighten-2'"
            >{{ $t("General.register") }}</v-btn
          >
          <NoticeChip
            v-else
            :text="$t('General.must-be-online-to-continue')"
          /> </template
        ><v-progress-circular
          class="ma-8"
          v-else
          :size="70"
          :width="7"
          :color="$vuetify.theme.dark ? '#878a01' : 'purple'"
          indeterminate
        ></v-progress-circular>
        <Captcha text="General.register" action="register" />
        <v-chip v-if="authErrorsRegister && authErrorsRegister.length > 0">
          <v-icon :color="$vuetify.theme.dark ? '#878a01' : 'red'"
            >mdi-alert-circle</v-icon
          >
          {{ authErrorsRegister }}</v-chip
        >
      </v-container>
    </v-form>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import Captcha from "@shared/components/partials/Captcha.vue";
import i18n from "@/plugins/i18n";
import NoticeChip from "@shared/components/partials/NoticeChip.vue";

export default {
  data() {
    return {
      errors: [],
      submitted: false,
      slugIsCustom: false,
      fname: "",
      lname: "",
      slug: "",
      email: "",
      showPW: false,
      password: "",
      password2: "",
      userlanguage: "",
      rules: {
        required: (value) => !!value || i18n.t("General.required"),
        min: (v) => v.length >= 8 || i18n.t("Password.minimum-characters"),
        emailMatch: () => i18n.t("Auth.email-match"),
      },
    };
  },
  components: {
    Captcha,
    NoticeChip,
  },
  computed: {
    ...mapGetters("UserStore", [
      "isLoggedIn",
      "authStatus",
      "authErrorsRegister",
      "generatedSlug",
      "newSlugIsUnique",
      "userIsOnline",
      "authPageTab",
    ]),
    ...mapGetters("CaptchaStore", ["GET_CAPTCHA_STATE", "GET_CAPTCHA_TOKEN"]),
    ...mapGetters("Languages", ["GET_USER_LANG_CODE", "GET_LANG_TITLES"]),
    ...mapGetters("EditCopy", ["GET_LANGUAGES"]),
    NEW_USER_LANG_CODE: {
      get() {
        return this.GET_USER_LANG_CODE;
      },
      set(value) {
        this.SET_USER_LANG_CODE(value);
      },
    },
    slugFieldValue() {
      if (!this.slug) {
        return this.generatedSlug;
      } else {
        return this.slug;
      }
    },
    newuser() {
      return {
        fname: this.fname,
        lname: this.lname,
        email: this.email.toLowerCase(),
        slug: this.slug,
        password: this.password,
        userlanguage: this.GET_USER_LANG_CODE,
        captchaToken: this.GET_CAPTCHA_TOKEN,
      };
    },
  },
  watch: {
    generatedSlug() {
      this.slug = this.generatedSlug;
    },
    GET_CAPTCHA_TOKEN(token) {
      console.log({
        GET_CAPTCHA_TOKEN: {
          component: "register",
          token: token,
          tab: this.authPageTab,
        },
      });
      if (token && this.authPageTab == 1) {
        this.register(this.newuser);
      }
    },
    authErrorsRegister(errors) {
      if (errors) {
        this.submitted = false;
      }
    },
  },
  methods: {
    ...mapActions("UserStore", ["register", "findSlug", "checkSlug"]),
    ...mapActions("Languages", ["SET_USER_LANG_CODE"]),
    ...mapActions("CaptchaStore", ["CHECK_CAPTCHA"]),
    async maybeFindSlug() {
      if (this.slugIsCustom === false) {
        await this.findSlug({ user: this.newuser });
      } else {
        await this.checkSlug(this.slug);
      }
    },
    async makeSlugIsCustom() {
      if (this.slug) {
        this.slugIsCustom = true;
      } else {
        this.slugIsCustom = false;
      }
      await this.checkSlug(this.slug);
    },

    validateRegistration() {
      //e.preventDefault();
      this.errors = [];
      if (!this.newSlugIsUnique) {
        this.errors.push("You must choose a unique profile url");
      } else if (this.password != this.password2) {
        this.errors.push("Passwords must match");
        console.log("The passwords do not match");
      } else {
        this.submitted = true;
        this.CHECK_CAPTCHA();
      }
    },
  },
};
</script>
