<template>
  <div id="authwidget" v-if="showDebug" :class="'debugState-' + debugState">
    <div v-if="debugState == 'full'" id="authwidgetBubble" class="wtsnavbackground">
      <h4>Token Debug</h4>

      <v-btn @click="changeDebugState('mini')" small
        ><v-icon>fa-minus</v-icon></v-btn
      >
      <v-divider />
      <v-chip :color="initalTokenValidation ? 'green' : 'red'">Init</v-chip>
      <v-chip :color="clock.refreshBool ? 'green' : 'red'">
        <template v-if="clock.refreshBool"> ACTIVE </template>
        <template v-else> INACTIVE </template>
      </v-chip>
      <v-btn @click="refreshAndRestart()" color="blue" small>Refresh token now</v-btn>
      <v-divider />
      <em>Time until refresh:</em>
      <v-progress-circular
        :size="100"
        rotate="270"
        :width="15"
        :value="percentageWaited()"
        color="green"
      >
        {{ clock.refresh }} <br />({{ percentageWaited() }}%)
      </v-progress-circular>

      <v-divider />
      <em>Refresh Token:</em>
      <v-chip>{{ refreshToken }}</v-chip>

      <v-divider />
      <em>Refresh at:</em>
      {{ showTime(dateWhenRefresh()) }}
      <v-divider />

      <em>Last Refresh:</em>
      {{ showTime(lastTokenRefreshAt) }}
      <v-divider />
      <em>Token expires:</em>
      {{ showTime(dateWhenTimeout()) }}
      <v-divider />
      <em>Time now:</em><br />
      {{ new Date() }}
    </div>
    <v-btn id="tokenDebugOpener" v-else small @click="changeDebugState('full')"
      ><v-icon>fa-plus</v-icon> <span>Token Debug</span></v-btn
    >
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  components: {},
  data: () => ({
    showDebug: false,
    reductionInMiliSeconds: 600000, // 10 mins before the timeout
    // reductionInMiliSeconds: 3300000, // 50 mins before the timeout
    debugState: "full",
    clock: {
      refresh: 0,
      refreshInit: 0,
      refreshBool: false,
    },
    tokenRefreshInterval: null,
    hasFetchedInitialData: false,
    theme() {
      return this.$vuetify.theme.dark ? "dark" : "light";
    },
    channel: new BroadcastChannel("oauth"),
  }),
  render() {
    return "<div></div>";
  },
  watch: {
    userToken(newAccessToken) {
      this.channel.postMessage({ newAccessToken: newAccessToken });

      console.log("WATCHER: Token updated");
      if (newAccessToken) {
        this.restartInterval();
      }
    },
    userIsOnline(v) {
      if (v) {
        console.log(
          "UserPresence says we're online now so it's okay to start checking tokens"
        );
        this.restartInterval();
      } else {
        console.log("UserPresence says we're offline");
      }
    },
  },
  computed: {
    ...mapGetters("UserStore", [
      "isLoggedIn",
      "userToken",
      "refreshToken",
      "accessTimeOut",
      "userIsOnline",
      "lastTokenRefreshAt",
      "initalTokenValidation"
    ]),
    ...mapGetters("PreferenceStore", ["IS_DARK_MODE_STORE"]),
  },
  methods: {
    ...mapActions("InboxStore", ["FETCH_NOTIFICATIONS"]),
    ...mapActions("PreferenceStore", [
      "FETCH_PREFERENCES",
      "LOAD_PREFERENCES_CACHE",
    ]),
    ...mapActions("SocketStore", ["SOCKET_CONNECT", "SOCKET_DESTROY"]),
    ...mapActions("TrustStore", ["FETCH_WHO_I_TRUST"]),
    ...mapActions("UserStore", [
      "checkauthtoken",
      "refreshAccessToken",
      "setInitalTokenValidation",
    ]),
    ...mapActions("VoteStore", ["FETCH_VOTES"]),
    ...mapActions("BlockUser", ["FETCH_BLOCKED_USERS"]),
    showTime(date) {
      if (!date) return false;
      return `${date.getHours()}:${date
        .getMinutes()
        .toString()
        .padStart(2, "0")}`;
    },
    changeDebugState(newstate) {
      this.debugState = newstate;
    },

    dateWhenTimeout() {
      return new Date(parseInt(this.accessTimeOut));
    },
    dateWhenRefresh() {
      const dateWhenRefresh = new Date(this.accessTimeOut);
      dateWhenRefresh.setTime(this.accessTimeOut - this.reductionInMiliSeconds);
      return dateWhenRefresh;
    },
    secondsUntilTokenTimeout() {
      return (this.dateWhenTimeout().getTime() - new Date().getTime()) / 1000;
    },
    secondsUntilRefresh() {
      return (this.dateWhenRefresh().getTime() - new Date().getTime()) / 1000;
    },
    refreshTokenTimeout() {
      const dateNow = new Date();
      const refreshInMiliSeconds = this.dateWhenRefresh() - dateNow;
      return refreshInMiliSeconds;
    },
    percentageWaited() {
      return parseInt(
        ((this.clock.refreshInit - this.clock.refresh) /
          this.clock.refreshInit) *
          100
      );
    },
    refreshAndRestart() {
      this.refreshAccessToken();
      this.restartInterval();

    },
    async restartInterval() {
      this.clock.refreshInit = this.secondsUntilRefresh();

      // This is called when the token is changed and on mounted
      // We refresh the token, and once that's updated via watch
      // Then we disconnect the websocket and set the interval to do the same again in 50 mins

    
      this.SOCKET_CONNECT();

      if (this.refreshTokenTimeout() > 0) {
        this.clock.refreshBool = true;
        this.fetchInitialUserData();
        this.setInitalTokenValidation(true);

        this.tokenRefreshInterval = setTimeout(async () => {
          this.clock.refreshBool = false;
          await this.doTheRefresh();
        }, this.refreshTokenTimeout());
      } else {
        await this.doTheRefresh();
        this.fetchInitialUserData();
      }
      
    },
    fetchInitialUserData() {
      if (!this.hasFetchedInitialData) {
        this.FETCH_VOTES();
        this.FETCH_WHO_I_TRUST();
        this.FETCH_NOTIFICATIONS();
        this.FETCH_BLOCKED_USERS();
        this.hasFetchedInitialData = true;
      }
    },
    async doTheRefresh() {
      this.SOCKET_DESTROY();
      await navigator.locks.request("tokenRefresh", async () => {
        await this.refreshAccessToken();
        this.setInitalTokenValidation(true);
      });
    },
    visibilityChange() {
      if (document.hidden == false) {
        if (this.isTokenWithinValidRange == false) {
          this.setInitalTokenValidation(false);
        }
        if (this.clock.refreshBool === false) {
          this.restartInterval();
        }
      }
    },
  },
  beforeDestroy() {
    window.removeEventListener("visibilitychange", this.updateOnlineStatus);
  },
  created() {
    document.addEventListener("visibilitychange", this.visibilityChange, false);
    this.setInitalTokenValidation(false);

  },
  async mounted() {
    if (this.showDebug) {
      setInterval(() => {
        this.clock.refresh = parseInt(this.secondsUntilRefresh());
      }, 1000);
    }

    if (this.isLoggedIn) {
      this.restartInterval();
      // await this.checkauthtoken();
    }
    const theme = localStorage.getItem("dark_theme");
    if (theme) {
      if (theme == "true") {
        this.$vuetify.theme.dark = true;
      } else {
        this.$vuetify.theme.dark = false;
      }
    }
  },
};
</script>
<style lang="scss">
#authwidget {
  font-family: monospace;

  position: fixed;

  z-index: 1000000;
  #authwidgetBubble {
    border: 2px solid black;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0.5em 0.5em #999;
  }
}
#authwidget.debugState-full {
  height: 40em;
  width: 15em;
  opacity: 1;
  top: 2em;
  right: 2em;
}
#authwidget.debugState-mini {
  opacity: 0.66;
  width: auto;
  top: 1em;
  right: 2em;
  #tokenDebugOpener {
  }
}
</style>
