<template>
    <div
      :class="`metainfo mx-auto py-2 px-2 mb-1 datein-${date} context-'normal' ${barColour()} action-chip`"
    >
    <!-- :class="`metainfo mx-auto py-2 px-2 mb-1 datein-${date} context-${context} ${barColour()} action-chip`" -->
      <div class="d-inline-block pl-2">
        <i>{{ $t('Archive.deleted') }}</i>
        -
        <DateOut :datein="date" /><br />
        <template
          v-if="ChipAction == 'comment' && ChipContext == 'contributions'"
        >
  
          <em>{{ $t("General.commented-on-a-post") }} by </em>
          in
            <router-link v-if="ChipCommentTopLevelDestination.entity == 'subwiki'"
              class="px-1"
              :to="{
                name: 'Branch',
                params: { subwikiSlug: ChipCommentTopLevelDestination.slug },
              }"
              :title="ChipCommentTopLevelDestination.name"
              >{{ ChipCommentTopLevelDestination.name }}</router-link
            >
              <template v-if="ChipCommentTopLevelDestination.entity == 'userprofile'">
            <router-link
              class="user-btn"
              :to="{
                name: 'User Profile',
                params: {
                  userSlug: ChipCommentTopLevelDestination.slug,
                  tabSelected: 'posts',
                },
              }"
              >{{ ChipCommentTopLevelDestination.name }}</router-link
            >'s Branch
            </template>
            <TheTrunk v-if="ChipCommentTopLevelDestination.entity == 'maintrunk'"/>
        </template>
        <template v-else>
          <span v-if="ChipAction == 'comment'">{{ $t("General.replied") }}</span>
        </template>
      </div>
    </div>
  </template>
  <script>
  import DateOut from "./DateOut.vue";
  import TheTrunk from "./TheTrunk.vue";
  
  export default {
    name: "ActionChipArchived",
    props: [
      "date",
    ],
    components: {
      DateOut,
      TheTrunk,
    },
    watch: {},
    data: function () {
      return {
        ChipAction: null,
        ChipCommentTopLevel: {},
        ChipCommentTopLevelDestination: {},
        ChipContext: "normal",
        ChipMainTrunk: false,
        ChipSubwiki: { label: "", slug: "" },
        ChipUserProfile: { label: "", slug: "" },
      };
    },
    methods: {
      barColour() {
        return this.$vuetify.theme.dark ? "grey darken-4" : "grey lighten-4 ";
      },
    },
  };
  </script>
  
  <style scoped lang="scss">
  .action-chip {
    font-size: 0.8em;
    color: grey;
    .dateout {
      font-size: 0.9rem;
    }
  }
  </style>
  