<template>
  <v-card outlined>
    <template v-if="by == 'you'">
      <v-card-text>
        {{ $t('Block.you-have-blocked-this-content') }}
      </v-card-text>
      <v-card-actions>
        <v-btn
        @click="ADD_REVEALED_CONTENT(item)"
        color="grey"
        elevation="0"
        class="white--text"
        small
        >
        {{ $t('Block.btn-show-anyway') }}
        
      </v-btn>
    </v-card-actions>
  </template>
  <template v-else>
    <v-card-text>
      {{ $t('Block.this-has-been-blocked-by') }} 
    
      <br/><router-link :to="{name: 'Post Restrictions'}">
      Find out more
    </router-link>
    </v-card-text>
  </template>
  
  </v-card>
</template>
<script>
import { mapActions } from "vuex";
export default {
  props: {
    item: {
      type: Object,
      required: true,
    },
    by: {
      type: String,
      required: false,
      default: "you",
    }
  },
  methods: {
    ...mapActions("BlockUser", ["ADD_REVEALED_CONTENT"]),
  },
};
</script>
