<template>
  <span :class="[!displayas || displayas!='inline' ? 'd-inline-block' : 'd-inline mx-1']+ ' dateout datein-'+datein" :title="out()">
  {{ $t( 'Time.ago', { time: timeSince() } ) }}
  </span>
</template>

<script>

import i18n from "@/plugins/i18n";

export default {
  name: "DateOut",
  props: ["datein", "displayas"],
  methods: {
    timeSince() {
      let timeSince = window.timeSince(this.datein);
      if (timeSince) {
        let dateout = Array.from(timeSince)
        let intsregex = new RegExp('[-+]?[0-9]*.?[0-9]+', 'i')
        let strsregex = new RegExp('[a-zA-Z]', 'i');
        let pluralregex = new RegExp('s$', 'i');
        const dateoutInts = dateout.filter(e => intsregex.test(e));
        const dateoutStrs = dateout.filter(e => strsregex.test(e));
        let timeinints = dateoutInts.join("")
        let timeinstrs = dateoutStrs.join("").replace(pluralregex, "")
        return i18n.tc('Time.' + timeinstrs, timeinints)
      } else {
        return i18n.tc('Time.second', 1);
      }
    },
    out() {
      if (this.datein) {
        let d = new Date(this.datein);
        return d.toLocaleDateString() + " @ " + d.toLocaleTimeString();
      } else {
        return "";
      }
    },
  },
};
</script>
