<template>
    <v-btn 
    elevation="0"
    color="wtsgrey"
    :to="{ name: 'Home', params: { LANG: userLanguage } }
    ">{{ $t('General.next') }}</v-btn>
</template>
<script>
import { mapGetters } from "vuex";

export default {
    name: "NextBtn",
    computed: {
        ...mapGetters("UserStore", ["userLanguage"])
    },
  methods: {
  }
};
</script>