<template>
  <v-menu class="post-actions-menu">
    <template v-slot:activator="{ on: menu, attrs }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on: tooltip }">
          <v-icon
            class="post-actions-menu-activator pl-4 pr-1"
            color="grey"
            dark
            v-bind="attrs"
            v-on="{ ...tooltip, ...menu }"
          >
            fa-ellipsis-v
          </v-icon>
        </template>
        <span>{{$t('Post.post-actions')}}</span>
      </v-tooltip>
    </template>
    <v-list>
      <v-list-item>
        <v-list-item-title>
          <ReadBtn :read="post.postID" />
        </v-list-item-title>
      </v-list-item>
      <v-list-item v-if="post.collaborative || isMine(post) || isUserInGroup('meta-admin')"> 
        <v-list-item-title>
          <EditBtn
            :edit="parentInfo(post)"
            context="post"
            :originalText="post.postText"
            :cardUrl="post.cardUrl"
            :isMine="isMine(post)"
          />
        </v-list-item-title>
      </v-list-item>
      <v-list-item v-if="isUserInGroup('meta-admin') || isMine(post)">
        <v-list-item-title>
          <template>
            <ArchiveBtn :itemKey="parentInfo(post)" :createdByUserSlug="getPostUserSlug()" :slug="this.post.slug" :typeoffeed="typeoffeed" type="post"/>
          </template>
        </v-list-item-title>
      </v-list-item>
      <v-list-item  v-if="post.data.createdByUser.slug != this.userProfile['slug']">
        <v-list-item-title>
          <template>
            <BlockUserBtn :user="post.data.createdByUser"/>
          </template>
        </v-list-item-title>
      </v-list-item>
    </v-list>
  </v-menu>
</template>
<script>
import { mapGetters } from "vuex";
import ArchiveBtn from "./ArchiveBtn.vue";
import BlockUserBtn from "./BlockUserBtn.vue";
import EditBtn from "./EditBtn.vue";
import ReadBtn from "./ReadBtn.vue";
export default {
  props: ["post", "typeoffeed"],
  components: {
    ArchiveBtn,
    BlockUserBtn,
    ReadBtn,
    EditBtn,
  },
  computed: {
    ...mapGetters("UserStore", ["isUserInGroup", "userProfile"]),
  },
  methods: {
    parentInfo(post) {
      return { pk: post.pk, sk: post.sk, slug: post.slug, profileFilter: post.profileFilter };
    },
    isMine(post){      
      return post?.userSlug == this.userProfile['slug']
    },
    getPostUserSlug() {
      return this.post?.data?.createdByUser?.slug;
    }
  },
};
</script>
<style lang="scss">
.v-toolbar__content {
  padding: 4px 8px;
}
.post-actions-menu-activator {
  
  margin-top: calc(-2em - 6px);
  float: right;
  margin-right: 6px;
}
</style>
