<template>
  <div>
    <template v-if="GET_HAS_PROFILE_LOADED.includes(userSlug)">
      <template v-if="GET_PROFILES[userSlug] && GET_PROFILES[userSlug].userID">
        <v-row>
          <v-col cols="12" class="mt-n3 profile-cover">
            <div
              class="bg grey lighten-2"
              :style="
                'background-image: url(' +
                URL_COVER_PIC(GET_USER_PROFILE(userSlug).userID) +
                ');'
              "
            ></div>
          </v-col>
        </v-row>
        <div class="page-details">
          <v-row>
            <v-col cols="3" md="3">
              <v-img
                class="bg grey lighten-2 large-profile-pic"
                :src="URL_PROFILE_PIC(GET_USER_PROFILE(userSlug).userID)"
              />
            </v-col>
            <v-col cols="8" md="8">
              <h2>
                {{ GET_USER_PROFILE(userSlug).fname }}
                {{ GET_USER_PROFILE(userSlug).lname }}
              </h2>
              <template v-if="getUserProfile.blocked !== true">
                <TrustRating
                  :userProfile="getUserProfile"
                  v-if="
                    isLoggedIn &&
                    getUserProfile &&
                    !IS_MY_PROFILE(userSlug) &&
                    !IS_USER_BLOCKED(userSlug)
                  "
                /><FollowBtn
                  v-if="
                    isLoggedIn && getUserProfile && !IS_MY_PROFILE(userSlug)
                  "
                  :userProfile="getUserProfile"
                />
              </template>
              <NoticeChip
                text="Block.this-user-has-blocked-you"
                v-if="getUserProfile.blocked === true"
              />
              <span
                class="mx-2"
                v-if="isLoggedIn && getUserProfile && !IS_MY_PROFILE(userSlug)"
              />
              <BlockUserBtn v-if="isLoggedIn" :user="getUserProfile" />

              <p class="mb-1 mt-2">
                <router-link
                  v-if="isLoggedIn"
                  :to="{
                    name: 'User Profile - Follow - Radio selected',
                    params: {
                      LANG: userLanguage,
                      userSlug: userSlug,
                      tabSelected: 'followers',
                      radioSelected: 'following-users',
                    },
                  }"
                  >{{ $t("Profile.followers") }}
                </router-link>
                <strong class="ml-2"> Rank: </strong>
                <router-link
                  v-if="isLoggedIn"

                  :to="{
                    name: 'User Profile - Trust - Radio selected',
                    params: {
                      userSlug: getUserProfile.slug,
                      LANG: userLanguage,
                      tabSelected: 'trust',
                      radioSelected: 'rated-by',
                    },
                  }"
                >
                  {{ GET_USER_PROFILE(userSlug)["trustLevelInfo"]["aka"] }}
                  ({{ GET_USER_PROFILE(userSlug)["trustLevel"] }})
                </router-link>
                <span v-else>
                  {{ GET_USER_PROFILE(userSlug)["trustLevelInfo"]["aka"] }}
                  ({{ GET_USER_PROFILE(userSlug)["trustLevel"] }})
                </span>
              </p>
              <p>{{ getUserProfile.userBio }}</p>
              <v-btn
                elevation="0"
                v-if="IS_MY_PROFILE(userSlug)"
                @click="editProfile()"
                >{{ $t("Profile.edit-my-profile") }}</v-btn
              >

              <!-- <router-link
                :to="{
                  name: 'Ratings By User',
                  params: { userSlug: userSlug, LANG: this.userLanguage },
                }"
                class="mr-2"
                >Rated By</router-link
              >

              <router-link
                :to="{
                  name: 'Ratings For User',
                  params: { userSlug: userSlug, LANG: this.userLanguage },
                }"
                >Rated</router-link
              > -->
            </v-col>
            <v-col cols="1">
              <UserAdmin align="right" :userSlug="userSlug" />
            </v-col>
          </v-row>
        </div>
      </template>

      <v-progress-linear
        v-else
        indeterminate
        color="green darken-2"
      ></v-progress-linear>
    </template>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import FollowBtn from "../partials/FollowBtn.vue";
import TrustRating from "../partials/TrustRating.vue";
import BlockUserBtn from "../partials/BlockUserBtn.vue";
import NoticeChip from "@shared/components/partials/NoticeChip.vue";
import UserAdmin from "./UserAdmin.vue";

export default {
  name: "UserProfile",
  components: {
    FollowBtn,
    TrustRating,
    UserAdmin,
    BlockUserBtn,
    NoticeChip,
  },

  props: {
    minimised: { type: Boolean, required: false, default: false },
    userSlug: { type: String, required: true },
  },
  data: function () {
    return {};
  },
  watch: {},
  async mounted() {
    this.init();
  },

  computed: {
    ...mapGetters("UserProfileStore", [
      "GET_USER_PROFILE",
      "GET_USER_PROFILE_DEBUG",
      "GET_PROFILES",
      "GET_HAS_PROFILE_LOADED",
      "IS_MY_PROFILE",
      "URL_PROFILE_PIC",
      "URL_COVER_PIC",
      "GET_IS_EDITING_MY_PROFILE",
    ]),
    ...mapGetters("UserStore", [
      "userProfile",
      "userLanguage",
      "isThisTheUser",
      "isLoggedIn",
    ]),
    ...mapGetters("BlockUser", ["IS_USER_BLOCKED"]),

    profileIsLoggedInUser() {
      return this.isThisTheUser(this.userSlug);
    },
    getUserProfile() {
      return this.GET_USER_PROFILE(this.userSlug);
    },
  },
  methods: {
    ...mapActions("UserProfileStore", [
      "FETCH_USER_PROFILE",
      "UPDATE_MY_BIOGRAPHY",
      "CHANGE_IS_EDITING_MY_PROFILE",
    ]),
    ...mapActions("PostStore", ["UPDATE_NEW_POST_PARENT"]),

    editProfile() {
      this.$router.push({
        path: "/" + this.userLanguage + "/editmyprofile",
      });
    },
    async init() {
      if (!this.GET_HAS_PROFILE_LOADED.includes(this.userSlug)) {
        await this.FETCH_USER_PROFILE(this.userSlug);
        this.ready = true;
      }

      this.ready = true;
    },
  },
};
</script>
<style lang="scss" scoped>
.bg {
  width: 100%;
  height: 20em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 200px;
}
.large-profile-pic {
  width: 100%;
  height: auto;
}
</style>
