<template>
  <div>
    <template v-if="GET_CONTRIBUTION_FETCH_OPERATIONS.paymentschedules">
      <template
        v-if="GET_CONTRIBUTION_FETCH_OPERATIONS.paymentschedules != 'success'"
      >
        <p v-if="GET_CONTRIBUTION_FETCH_OPERATIONS.paymentschedules != 'error'">
          {{$t('Payment.fetching-schedules')}}
          <v-progress-linear
            indeterminate
            :color="
              'darken-2 ' +
              (GET_CONTRIBUTION_FETCH_OPERATIONS.paymentschedules == 'fetching'
                ? 'green'
                : 'yellow')
            "
          ></v-progress-linear>
        </p>
        <ErrorOut
          :text="$t('Payment.error-fetching-schedules')"
          v-else
        ></ErrorOut>
      </template>

      <v-simple-table v-else>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">{{$t('Payment.user-amount-currency')}}</th>
              <th class="text-left">{{$t('Payment.payment-term')}}</th>
              <th class="text-left">{{$t('Payment.payment-status')}}</th>
              <th class="text-left">{{$t('Payment.payment-created')}}</th>
              <th class="text-left">{{$t('Payment.payment-provider')}}</th>
              <th class="text-left"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(schedule, s) in GET_USER_PAYMENT_SCHEDULES"
              v-bind:key="s"
            >
              <td>
                <span :title="schedule.ID"
                  >{{ schedule.amount }} {{ schedule.currency }}</span
                >
              </td>
              <td>
                <template v-if="schedule.interval == 'MONTH'">{{$t('General.monthly')}}</template>
                <template v-else-if="schedule.interval == 'YEAR'"
                  >{{$t('General.yearly')}}</template
                >
              </td>
              <td>
                <template
                  v-if="
                    ['CANCELED', 'CANCELLED'].includes(
                      schedule.subStatus.toUpperCase()
                    )
                  "
                  >{{$t('Payment.cancelled')}}</template
                >
                <template
                  v-else-if="
                    justCanceled.includes(schedule.ID) ||
                    schedule.cancellationRequested
                  "
                  >{{$t('Payment.cancelling')}}</template
                >

                <template v-else>{{ schedule.subStatus }}</template>
              </td>
              <td><DateOut :datein="schedule.created" /></td>
              <td>{{ schedule.provider == "paypal" ? "Paypal" : "Card" }}</td>
              <td>
                <v-btn
                  v-if="
                    !schedule.cancellationRequested &&
                    schedule.subStatus == 'ACTIVE' &&
                    !justCanceled.includes(schedule.ID)
                  "
                  color="red lighten-2"
                  dark
                  @click="
                    showCancelDialog = true;
                    dialogId = schedule.ID;
                  "
                >
                  Cancel
                </v-btn>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <v-btn color="green" v-on:click="FETCH_USER_PAYMENT_SCHEDULES()"
        >{{$t('General.refresh')}}</v-btn
      >

      <v-dialog v-model="showCancelDialog" width="500">
        <v-card>
          <v-card-title class="text-h5 grey lighten-2">
            {{$t('Payment.payment-cancel-confirmation')}}
          </v-card-title>

          <v-card-text>
            {{$t('Payment.payment-are-you-sure')}}
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" text @click="showCancelDialog = false">
              {{$t('General.back')}}
            </v-btn>
            <v-btn @click="handleCancel()">{{$t('Payment.payment-continue')}}</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </template>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import DateOut from "../partials/DateOut.vue";
import ErrorOut from "../partials/ErrorOut.vue";

export default {
  name: "UserPaymentSchedules",
  data() {
    return {
      dialogId: "",
      justCanceled: [],
      showCancelDialog: false,
    };
  },
  components: {
    DateOut,
    ErrorOut,
  },
  mounted() {
    console.log("Mounted");
    setTimeout(async () => {
      console.log("Loading user payments");
      await this.FETCH_USER_PAYMENT_SCHEDULES();
    }, 200);
  },
  computed: {
    ...mapGetters("UserContributionsStore", [
      "GET_USER_PAYMENT_SCHEDULES",
      "GET_CONTRIBUTION_FETCH_OPERATIONS",
    ]),
  },
  methods: {
    ...mapActions("UserContributionsStore", [
      "FETCH_USER_PAYMENT_SCHEDULES",
      "CANCEL_SCHEDULE",
    ]),
    async handleCancel() {
      await this.CANCEL_SCHEDULE(this.dialogId);
      this.showCancelDialog = false;
      this.justCanceled.push(this.dialogId);
    },
  },
};
</script>
